/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/partials/_base.scss */
body {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 50, 0.06)), color-stop(5%, rgba(0, 0, 50, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 50, 0.06) 5%, rgba(0, 0, 50, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 50, 0.06) 5%, rgba(0, 0, 50, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 50, 0.06) 5%, rgba(0, 0, 50, 0) 5%);
  background-image: linear-gradient(bottom, rgba(0, 0, 50, 0.06) 5%, rgba(0, 0, 50, 0) 5%);
  -webkit-background-size: 100% 1.5em;
  -moz-background-size: 100% 1.5em;
  -o-background-size: 100% 1.5em;
  background-size: 100% 1.5em;
  background-position: left top;
}

/* line 10, ../sass/partials/_base.scss */
.container {
  max-width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
}

/* line 14, ../sass/partials/_base.scss */
.row {
  margin-left: -1.66667%;
}
/* line 54, ../sass/partials/_grid.scss */
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 59, ../sass/partials/_grid.scss */
.row:after {
  clear: both;
}

/* line 18, ../sass/partials/_base.scss */
.span1 {
  width: 6.66667%;
  margin-left: 1.66667%;
  float: left;
}

/* line 22, ../sass/partials/_base.scss */
.block {
  background-color: rgba(0, 0, 50, 0.06);
  height: 1200px;
  width: 100%;
  border-left: 1px solid rgba(0, 0, 50, 0.06);
}

/* line 29, ../sass/partials/_base.scss */
.block:last-child {
  border-right: 1px solid rgba(0, 0, 50, 0.06);
}
